<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <h1>My Resume </h1>
    <iframe src="./assets/images/Resume_MohammadWahiduzzaman.pdf" width="100%" height="750px">
    </iframe>
  </body>
</html>